{% extends 'base.html' %}


{% block title %}Página de Inicio{% endblock %}
{% load static %}
{% block content %}

<div class="card m-1" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/media/{{inmueble.imagen}}" class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{inmueble.nombre}}</h5>
        <p class="card-text">{{inmueble.descripcion}}</p>
        <p>{{inmueble.comuna}}</p>
        {% if user.usuario.tipo_usuario == 'arrendatario' %}
        <a href="{% url 'generar_solicitud_arriendo' inmueble.id %}">Generar Solicitud de Arriendo</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if user.usuario.tipo_usuario == 'arrendador' %}
    <div class="container mt-5">
        <a href="{% url 'editar_inmueble' inmueble.id %}" class="btn btn-primary mr-2" onclick="return confirm('¿Editar?');">Editar Inmueble</a>
        <a href="{% url 'eliminar_inmueble' inmueble.id %}" class="btn btn-danger" onclick="return confirm('¿Quieres eliminar?');">Eliminar Inmueble</a>
    </div>
{% endif %}

    
    
{% endblock %}