<!-- registro_usuario.html -->
{% extends 'base.html' %}
{%load static%}

<head>
    {% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'inmobiliaria/css/login.css' %}">{% endblock %}
</head>

{% block title %}Página de Inicio{% endblock %}

{% block content %}  
<div class="container">
    <h2>Registrarse</h2>  <!--ASIGNAR ENCIMA DEL FORMULARIO-->
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Username:</label>
            <input type="text" class="form-control" id="id_username" name="username" required>
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            <input type="password" class="form-control" id="id_password" name="password" required>
        </div>
        <div class="form-group">
            <label for="id_nombres">Nombres:</label>
            <input type="text" class="form-control" id="id_nombres" name="nombres" required>
        </div>
        <div class="form-group">
            <label for="id_apellidos">Apellidos:</label>
            <input type="text" class="form-control" id="id_apellidos" name="apellidos" required>
        </div>
        <div class="form-group">
            <label for="id_rut">Rut:</label>
            <input type="text" class="form-control" id="id_rut" name="rut" required>
        </div>
        <div class="form-group">
            <label for="id_direccion">Direccion:</label>
            <input type="text" class="form-control" id="id_direccion" name="direccion" required>
        </div>
        <div class="form-group">
            <label for="id_telefono">Telefono:</label>
            <input type="tel" class="form-control" id="id_telefono" name="telefono" required>
        </div>
        <div class="form-group">
            <label for="id_correo_electronico">Correo electrónico:</label>
            <input type="email" class="form-control" id="id_correo_electronico" name="correo_electronico" required>
        </div>
        <div class="form-group">
            <label for="id_tipo_usuario">Tipo usuario:</label>
            <select class="form-control" id="id_tipo_usuario" name="tipo_usuario" required>
                <option value="arrendatario">Arrendatario</option>
                <option value="arrendador">Arrendador</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>
{% endblock %}

{% block footer %}
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
    </ul>
    <p class="text-center">© Inmobiliaria</p>
</footer>
{% endblock footer %}